
    <h2 mat-dialog-title>Contact Form</h2>

<form [formGroup]="contactForm" (submit)="addContact()">

    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text" />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Phone</mat-label>
                <input formControlName="phone" matInput type="text" />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="text" />
            </mat-form-field>
        </div>
    </div>

    <mat-dialog-actions class="action">
        <button mat-raised-button mat-dialog-close>Cancelar</button>
        <button color="primary" [disabled]="!contactForm.valid" mat-raised-button type="submit">{{getTitle()}}</button>
      </mat-dialog-actions>
</form>