<section class="mt-1">
    <app-filter [label]="'Search Element'" [placeholder]="'Write...'" [(filter)]="valueToFilter" />
    <!-- (filterVal)="applingFilter($event)" -->

    <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">
            @for (column of displayedColumns(); track $index) {
                <ng-container [matColumnDef]="column">
                    @if (this.sortableColumn().includes(column)) {
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </th>
                    } @else {
                        <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
                    }
                                       
                    <td mat-cell *matCellDef="let element" >
                        {{ element[column] }}
                        @if (column === 'action') {
                            <button mat-icon-button color="primary" (click)="onEditContact(element)" >
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="onDeleteContact(element['id'])" >
                                <mat-icon>delete</mat-icon>
                            </button>
                        }
                    </td>
                </ng-container>
            }
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns();" (dblclick)="onSelectedRow(row)"></tr>
        </table>
      
         <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons>
        </mat-paginator> 
      </div>
</section>
  
